In [ ]:
# !pip install ipython-sql
# !pip install sqlite3
# !pip install sqlalchemy

In [ ]:
import sqlite3
%load_ext sql

In [ ]:
%sql sqlite:///webshop.db

In [ ]:
%sql PRAGMA foreign_keys = ON;

In [ ]:
%sql CREATE TABLE Productos (id_producto int PRIMARY KEY, nombre char(20), reseña char(100))

In [ ]:
%%sql
INSERT INTO Productos VALUES(1, "Nombre1", "Producto1");
INSERT INTO Productos VALUES(2, "Nombre2", "Producto2");
INSERT INTO Productos VALUES(3, "Nombre3", "Producto3");
INSERT INTO Productos VALUES(4, "Nombre4", "Producto4");
INSERT INTO Productos VALUES(5, "Nombre5", "Producto5");

In [ ]:
%sql CREATE TABLE Clientes (id_cliente int PRIMARY KEY, nombre char(50), correo char(50), direccion char(100))

In [ ]:
%%sql
INSERT INTO Clientes VALUES(1, "Nombre1", "cliente1@webshop.com", "Direccion1");
INSERT INTO Clientes VALUES(2, "Nombre2", "cliente2@webshop.com", "Direccion2");
INSERT INTO Clientes VALUES(3, "Nombre3", "cliente3@webshop.com", "Direccion3");
INSERT INTO Clientes VALUES(4, "Nombre4", "cliente4@webshop.com", "Direccion4");
INSERT INTO Clientes VALUES(5, "Nombre5", "cliente5@webshop.com", "Direccion5")

In [ ]:
%sql CREATE TABLE Despacho (id_despacho INT PRIMARY KEY, cliente_id INT, producto_id INT, fecha_despacho DATE, direccion_envio CHAR(100), FOREIGN KEY (cliente_id) REFERENCES Clientes(id_cliente), FOREIGN KEY (producto_id) REFERENCES Productos(id_producto));

In [ ]:
%sql INSERT INTO Despacho  VALUES (1, 1, 1, '2024-01-15', 'Direccion1');
%sql INSERT INTO Despacho  VALUES (2, 2, 2, '2024-02-10', 'Direccion2');
%sql INSERT INTO Despacho  VALUES (3, 3, 3, '2024-03-05', 'Direccion3');
%sql INSERT INTO Despacho  VALUES (4, 4, 4, '2024-04-20', 'Direccion4');
%sql INSERT INTO Despacho  VALUES (5, 5, 5, '2024-05-15', 'Direccion5');

### Calcular el total de despachos por cada cliente

In [ ]:
%%sql
SELECT Clientes.nombre AS cliente, COUNT(Despacho.id_despacho) AS total_despachos
FROM Despacho
JOIN Clientes ON Despacho.cliente_id = Clientes.id_cliente
GROUP BY Clientes.nombre;

### Mostrar la cantidad de despachos por cada cliente

In [ ]:
%%sql
SELECT Clientes.nombre AS cliente, COUNT(Despacho.id_despacho) AS total_despachos
FROM Despacho
JOIN Clientes ON Despacho.cliente_id = Clientes.id_cliente
GROUP BY Clientes.nombre;

### Mostrar al cliente con mayor número de despachos

In [ ]:
%%sql
SELECT Clientes.nombre, COUNT(Despacho.id_despacho) AS total_despachos
FROM Despacho
JOIN Clientes ON Despacho.cliente_id = Clientes.id_cliente
GROUP BY Clientes.nombre
ORDER BY total_despachos DESC
LIMIT 1;

### Mostrar todos los despachos con el nombre, producto y fecha

In [ ]:
%%sql
SELECT Despacho.id_despacho, Clientes.nombre AS cliente, Productos.nombre AS producto, Despacho.fecha_despacho
FROM Despacho
JOIN Clientes ON Despacho.cliente_id = Clientes.id_cliente
JOIN Productos ON Despacho.producto_id = Productos.id_producto;

### Mostrar cada producto que ha sido comprado por cada cliente

In [ ]:
%%sql
SELECT Productos.nombre AS producto, Clientes.nombre AS cliente
FROM Despacho
JOIN Productos ON Despacho.producto_id = Productos.id_producto
JOIN Clientes ON Despacho.cliente_id = Clientes.id_cliente;